* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

#outside__reset__password {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;
    width: 400px;
}

#wrapper__reset__password {
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#wrapper__title__reset > h3 {
    font-weight: bold;
    font-size: 20px;
}

#reset__password__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#wrapper__confirm__password, #wrapper__new__password {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
}

input {
    padding: 10px 15px;
    border-radius: 50px;
    border: 2px solid #c5c5c5;
    font-size: 16px;
}

#reset__password__btn {
    border: none;
    padding: 16px 10px;
    color: white;
    background-color: black;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

#error__new__password, #error__confirm__new__password {
    font-size: 14px;
    color: #FF6868;
    opacity: 0;
    height: 4px;
    transition: all 0.3s ease-in-out
}

#reset__password__btn:hover {
    opacity: 0.9;
    scale: 1.02;
}

.wrapper__input__password {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input__password__reset {
    display: flex;
    flex-direction: row;
    border: 2px solid #c5c5c5;
    border-radius: 50px;
}

#confirmPassword, #password {
    width: 85%;
    border: none;
    outline: none;
}

.show__hide {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show__hide > i {
    cursor: pointer;
}