<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" type="text/css" href="../../../static/assets/css/auth/forgot-password.css">
    <link rel="stylesheet" th:href="@{/assets/css/auth/forgot-password.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <script src="https://unpkg.com/currency.js@~2.0.0/dist/currency.min.js"></script>
</head>
<body>
    <div class="container">
        <img id="background__img" th:src="@{/images/reset-password.jpg}" alt="appleLogo">
        <div id="outside__forgot__password">
            <div id="wrapper__forgot__password">
                <div id="wrapper__title__forgot">
                    <h3 id="title__forgot">QUÊN MẬT KHẨU</h3>
                </div>
                <form method="post" role="form" th:action="@{/forgot-password}" id="forgot__password__form">
                    <div id="wrapper__input__email">
                        <label for="gmail">Nhập địa chỉ email để đặt lại mật khẩu</label>
                        <input type="email" id="gmail" name="gmail">
                    </div>
                    <p id="wrong__email">Vui lòng nhập địa chỉ mail</p>
                    <button type="submit" value="Log in" id="reset__password__btn" disabled style="opacity: 0.5;">Đặt lại mật khẩu</button>
                </form>
                <div th:if="${error != null}" id="raise__error">
                    <!--                <p>[[${error}]]</p>-->
<!--                    <p>Khong hop le, vui long thu lai</p>-->
                </div>
                <div th:if="${message != null}" id="show__message">
                    <a th:href="@{/login}" id="redirect__login">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <p>
                        Chúng tôi đã gửi một đường link đến địa chỉ mail mà bạn cung cấp. Vui lòng kiểm tra Hộp thư đến
                    </p>
                </div>
            </div>
        </div>
    </div>
<script th:src="@{/JS/auth/forgot-password.js}"></script>
</body>
</html>